

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    width: 100vw; 
    overflow: hidden; 
    background-color: var(--background);
    padding: 1rem;
  }

  .main-content {
    flex-grow: 1; 
    display: flex; 
    overflow: hidden;
    gap: 1rem;
  }


.chatbox-container, 
.workspace-container { 
  height: 100%;
  overflow-y: auto; 
}

